body {
   background-image: url("https://wallpapercave.com/wp/wp7782554.jpg");
  color: white;
  text-align: center;
  height: 100%;
  font-family: 'Playfair Display', serif;
}
.button {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}
mark {
  background-color: black;
  color: white;
}